ion-title {
  font-family: "Ubuntu";
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: black;
  font-family: "Ubuntu";
}

#container img {
  border-radius: 50%;
}

.alarmBtn {
  margin-top: 30px;
}
