<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Alarma anti robos </ion-title>
    <ion-button
      class="logout"
      color="primary"
      fill="clear"
      slot="end"
      (click)="handleLogout()"
    >
      <ion-icon aria-hidden="true" color="primary" name="arrow-redo-outline" />
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>
      {{isDetectorActive ? 'Alarma activada' : '¿Listo para activar tu alarma
      anti robos?'}}
    </strong>
    <ion-button
      class="alarmBtn"
      [color]="isDetectorActive ? 'success' : 'light'"
      slot="center"
      (click)="toggleDetector()"
    >
      <img src="assets/logo.png" alt="logo" class="logo" />
    </ion-button>
  </div>
</ion-content>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  color="#d9d9d9"
  size="medium"
  type="line-spin-clockwise-fade"
  [fullScreen]="true"
>
  <p style="color: #d9d9d9; font-family: Ubuntu; font-size: 40px">
    Cargando...
  </p>
</ngx-spinner>
